.a1{
    background-color: black;
    color:brown;
    height:600px;
}
.a2{
    background-color: chartreuse;
    color: brown;
    height:200px;
}
.a3{
    background-color: chocolate;
    color: black;
    height:200px;
}

.footer{
    background-color: brown;
    color: chartreuse;
    height:600px;
}